[submodule "ci_repo"]
	path = ci_repo
	url = https://github.com/central-organization/ci_repo
[submodule "Provider_submodules/provider_name_repo"]
	path = Provider_submodules/provider_name_repo
	url = https://github.com/central-organization/provider_name_repo
